<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/bootstrap'); %>

    <link rel="stylesheet" href="../css/ListStyle.css">

<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

    <title> <%= title %> </title>
</head>
<body>
<%- include('./partials/navbar'); %>
<ul>
<% Database.forEach(function (user) { %>
    <form action="/delete/<%=user._id.toString()%>" method = "POST">

        <li class="user-list"><%= user.name +' - '+ user.email%> <button type="submit">X</button> </li>
    </form>
<% }) %>
</ul>

</body>
</html>

